<div class="right"><h1><%= @document.source_file_name %></h1></div>
<br>
<%= link_to t('returntodocs'), documents_path, :class=>'likeabutton' %>
<%= link_to t('pageconvert'), "/documents/#{@document.id}/convert", :class=>'likeabutton' %>

<div class="clr"></div>
<hr />

  <script type='text/javascript'>

 $(document).ready(function() {

  $('.inputcb').click(function() {
    var checked; 
    if ($(this).is(':checked')) {
      checked = true;
    } else {
      checked = false;
    } 
    $.ajax({
      type: "POST",
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      url: "/documents/exclude/",
      data: { id: this.id, checked: checked }
    });     
  });

  $('.erp').change(function() {

    //alert( "Action settemplate" );

    $.ajax({
      type: "POST",
      beforeSend: function(xhr){
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      url: "/documents/settemplate/",
      data: { id: this.value }
    });     

  });

  }); 

function toggleAll(name)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
      { boxes[i].checked = !boxes[i].checked ; }
}

function setAll(name,state)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
      { boxes[i].checked = state ; }
}
</script>

<% @pages.each do |p| %>

<div class="medfile">

  <a href='/pages/<%=p.id%>'>
    
    <% var = p.path.gsub("/original/img5/","/original/medium/")+"#{p.filename}" %>
  	<% if File.exists?(var.gsub(".png","_mdx.png")) then %>
		  <%= link_to( image_tag("#{p.url}".gsub("/original/img5/","/original/medium/")+"#{p.filename}".gsub(".png","_mdx.png"), :width => 277, :height=>369), "/pages/#{p.id}/edit")  %>
    <% else %>
      <%= link_to( image_tag("#{p.url}".gsub("/original/img5/","/original/medium/")+"#{p.filename}".gsub(".png","_md.png"), :width => 277, :height=>369), "/pages/#{p.id}/edit") %>
            <%#= link_to( image_tag("#{p.url}".gsub("/original/img5/","/original/medium/")+"#{p.filename}".gsub(".png","_mdx.png"), :width => 277, :height=>369), "/documents/inspection/#{p.id}")  %>
    <%# else %>
      <%#= link_to( image_tag("#{p.url}".gsub("/original/img5/","/original/medium/")+"#{p.filename}".gsub(".png","_md.png"), :width => 277, :height=>369), "/documents/inspection/#{p.id}") %>
  	<% end %>
    <br />

    <div class="clr"></div>

	  <div class="rdu">	
		  <div class="right"><%= check_box_tag p.id, p.exclude, p.exclude, :class => "inputcb" %> <%= t('exclude') %></div>
		  <div class="right"></div>
      <div class="xleft">
        <%= select(:page, :template_id, ::Template.where("name <> ? or id=?", "selfie", p.template_id).collect {|t| [ t.name, "#{p.id}_#{t.id}" ] }, {:selected => "#{p.id}_#{p.template_id}"}, {:class => "erp"} ) %>
        <%#= select("page", "template_id", ::Template.where("name <> ? or id=?", "selfie", p.template_id).collect {|t| [ t.name, t.id ] },:include_blank => true) %>

        <%#= t('shorttemplate') %> 
      </div> 
  		<div class="xcenter"><p><%= p.number + 1 %></p></div>
      <div class="clr"></div>
	</div>
  </a>
</div>

<% end %>

<div class="clr"></div>

<br />
<%= will_paginate @pages %>
