<br />
<div class="cent">
  <div class="cube">
    <ul>
      <li>
		<a class="c3" href="/hive/overview">
		  <!-- c1 -->
  		  <br />
  		  <%= t('overview') %>
  		  <br />
  		  <br />
  		  <br />
  		  <br />
  		  <br />
		</a>
	  </li>
      <li>
		<a class="c0" href="#">
		  <!-- c2 -->
  		  <br />
  		  <!--Shared Data &amp;-->
  		  <br />
  		  <!--Templates -->
  		  <br />
  		  <br />
  		  <br />
  		  <br />
		</a>
	  </li>
      <li>
	    <a class="c0" href="#">
		  <!-- c3 -->
		  <br />
  		  <!-- Help &amp; Tutorials -->
  		  <br />
		  <br />
		  <br />
		  <br />
		  <br />
		  <!--<div class="c3alt">Woot</div>-->
	    </a>
	  </li>
      <li>
		<div class="t1">
		  <a class="c4" href="/documents">
			<br />
  		    <%= t('files') %>
			<br />
			<br />
			<br />
			<br />
			<% if !user_signed_in? %><div class="loginreq">Please Login</div><% else %><br /><% end %>
		    <!--<div class="c1alt">Uploads &amp; Cloud Storage</div>-->
		  </a>
	  	</div>
	  </li>
      <li>
	    <div class="t1">
		  <a class="c9" href="/templates">
			<br />
			<%= t('templates') %>
			<br />
			<br />
			<br />
			<br />
			<% if !user_signed_in? %><div class="loginreq">Please Login</div><% else %><br /><% end %>
			<!--<div class="c5alt">Create, Edit &amp; Reuse</div>-->
		  </a>
	    </div>
	  </li>
      <li>
	    <div class="t1">
		  <a class="c2" href="/data">
		    <!-- c1 -->
			<br />
			<%= t('data') %>
	  	    <br />
			<br />
			<br />
			<br />
			<% if !user_signed_in? %><div class="loginreq">Please Login</div><% else %><br /><% end %>
			<!--<div class="c1alt">Woot</div>-->
		  </a>
	    </div>
	  </li>
      <li>
        <div class="t1">
		  <a class="c0" href="#">
		    <!-- c2 -->
  		    <br />
  		    <!--Queue-->
  		    <br />
  		    <br />
  		    <br />
  		    <br />
  		    <br />
  		    <!--<div class="c2alt">Woot</div>-->
	      </a>
	  </div>
	  </li>
      <li>
		<div class="t1">
		  <a class="c0" href="#">
		  <!-- c3 -->
		    <br />
			<!--Data
			<br />
			Analysis-->
			<br />
			<br />
			<br />
			<%# if !user_signed_in? %><% if false %><div class="loginreq">Please Login</div><% else %><br /><% end %>
			<!--<div class="c9alt">Woot</div>-->
		  </a>
	    </div>
	  </li>
      <li>
		<div class="t1">
		  <a class="c3" href="/settings/0/edit">
		  <!-- c4 -->
		    <br />
			<%= t('settings') %>
			<br />
			<br />
			<br />
			<br />
			<% if !user_signed_in? %><div class="loginreq">Please Login</div><% else %><br /><% end %>
			<!--<div class="c3alt">Woot</div>-->
		  </a>
	    </div>
	  </li>
    </ul>
  </div>
  
  <div class="clr"></div>
</div>
<div class="clr"></div>
<br />
<br />