<div class="right"><!--<h1>overview</h1>--></div>
<div class="clr"></div>

<br />
<br />
<br />

<div class="bi1-">
	
<div class="righttwothirds">
	
	<img alt="docHive" src="/assets/info-flow-1.gif">
	
</div>

<div class="leftthird">
	<h2 class="color-195963"><%= t('simple') %></h2>
	<p><%= t('simple_description') %></p>
	<br />
	<h2 class="color-195963"><%= t('automation') %></h2>
	<p><%= t('automation_description') %></p>
	<br />
	<h2 class="color-195963"><%= t('analysis') %></h2>
	<p><%= t('analysis_description') %></p>
</div>

<div class="clr"></div>

</div>

<br />	
<div class="clr"></div>
