<%= form_for(@tyndale) do |f| %>
  <% if @tyndale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tyndale.errors.count, "error") %> prohibited this tyndale from being saved:</h2>

      <ul>
      <% @tyndale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full %><br>
    <%= f.text_field :full %>
  </div>
  <div class="field">
    <%= f.label :short %><br>
    <%= f.text_field :short %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br>
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
